


  <!-- =============================================== -->
<%- include ('header') %>
<%- include ('aside') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dash board
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        
        <div class="box-body">
          
          <div class="jumbotron">
            <div class="container">
              <h1>ĐỒ ÁN TỐT NGHIỆP</h1>
              <p>Contents ...</p>
              <p>
                <a class="btn btn-primary btn-lg">Learn more</a>
              </p>
            </div>
          </div>
          
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include ('footer') %>