


  <!-- =============================================== -->
<%- include ('header') %>
<%- include ('aside') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        ĐỒ ÁN TỐT NGHIỆP
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        
        <div class="box-body">
          
          <div class="jumbotron">
            <div class="container">
              <!-- <h1>ĐỒ ÁN TỐT NGHIỆP</h1> -->
              <style>
                /* CSS cho căn chỉnh hình ảnh */
                .centered {
                  display: flex; /* Sử dụng Flexbox */
                  justify-content: center; /* Căn giữa theo chiều ngang */
                  align-items: center; /* Căn giữa theo chiều dọc */
                  height: 70vh; /* Chiều cao bằng 100% màn hình */
                  padding: 20px; /* Khoảng cách bên trong container */
                  background-color: #f4f4f4; /* Màu nền (tùy chọn) */
                  text-align: center; /* Căn giữa văn bản */
                }
                img {
                  max-width: 100%; /* Đảm bảo ảnh không lớn hơn khung */
                  max-height: 100%; /* Đảm bảo ảnh không vượt quá màn hình */
                  margin-bottom: 20px; /* Khoảng cách dưới ảnh */
                }
                .info h1 {
                  margin: 0;
                  font-size: 45px;
                  color: #333;
                }

                .info p {
                  font-size: 30px;
                  color: #666;
                  line-height: 1.5;
                }
              </style>
              <div class="centered">
                <img src="../../images/Logo-BK-HoChiMinh.png" alt="Centered Image">
                <div class="info">
                  <h1>ĐỀ TÀI:</h1>
                  <p>
                    HỆ THỐNG KIỂM SOÁT RA VÀO (ACCESS CONTROL SYSTEM - ACS)
                  </p>
                </div>
              </div>
              <p>Contents ...</p>
              <p>
                <a class="btn btn-primary btn-lg">Learn more</a>
              </p>
            </div>
          </div>
          
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include ('footer') %>