


  <!-- =============================================== -->
<%- include ('header') %>
<%- include ('aside') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Đăng ký người dùng 
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="row">
          <div class="col-md-4">
            
            <form action="" method="POST" role="form">
            
              <div class="box-body">

                <div class="form-group">
                  <label for="">Tên người dùng</label>
                  <input type="text" class="form-control" id="" placeholder="Input field" name="full_name">
                </div>

                <div class="form-group">
                  <label for="">Chức vụ</label>
                  <input type="text" class="form-control" id="" placeholder="Input field" name="position">
                </div>

                <div class="form-group">
                  <label for="">Mã số sinh viên</label>
                  <input type="text" class="form-control" id="" placeholder="Input field" name="student_id">
                </div>

                <div class="form-group">
                  <label for="">Email</label>
                  <input type="text" class="form-control" id="" placeholder="Input field" name="email">
                </div>

                <div class="form-group">
                  <label for="">Mật khẩu</label>
                  <input type="text" class="form-control" id="" placeholder="Nhập tối đa 10 số" pattern="\d{1,10}" title="Chỉ được nhập tối đa 10 số" name="password">
                </div>
                
                <div class="form-group">
                  <label for="">Vị trí vân tay</label>
                  <input type="text" class="form-control" id="" placeholder="Input field" pattern="\d{1,10}" title="Chỉ được nhập tối đa 2 số" name="fingerprint">
                </div>

              </div>
              
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Lưu lại</button>
                <a href="/register_password" class="btn btn-primary pull-right">Tiếp theo</a>
              </div>
              
            </form>
            
          </div>
        </div>
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include ('footer') %>