


  <!-- =============================================== -->
<%- include ('header') %>
<%- include ('aside') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <i class="fa-fa-th"></i> <%= title %>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">web_project/views/information.ejs
        <div class="row">
          <div class="col-md-4">
            
            <form action="" method="POST" role="form">
            
              <div class="box-body">

                <div class="form-group">
                  <label for="">Mật khẩu</label>
                  <input type="number" class="form-control" id="" placeholder="Input field">
                </div>

              </div>
              
              
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Lưu lại</button>
                <a href="/register_password" class="btn btn-primary pull-right">Quay lại</a>
                <a href="/register_faceid" class="btn btn-primary pull-right">Tiếp theo</a>
              </div>
              
            </form>
            
          </div>
        </div>
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include ('footer') %>